<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.localsend.fixture3556">
  <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="29" />
  <application android:label="Issue 3556 fixtures" android:theme="@android:style/Theme.Material.Light.NoActionBar">
    <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
  </application>
</manifest>
